46_arsrapport_2017_norvas.pdf
Biologiske_gr1.pdf
Biologiske_gr1.wmf
Biologiske_gr2.pdf
Biologiske_gr2.wmf
Biologiske_gr23.pdf
Biologiske_gr3.pdf
Biologiske_gr3.wmf
Cyclofosfamid_gr1.pdf
Cyclofosfamid_gr2.pdf
Cyclofosfamid_gr2.wmf
Cyclofosfamid_gr23.pdf
Cyclofosfamid_gr3.pdf
Cyclofosfamid_gr3.wmf
DMARD_gr1.pdf
DMARD_gr1.wmf
DMARD_gr2.pdf
DMARD_gr2.wmf
DMARD_gr23.pdf
DMARD_gr3.pdf
DMARD_gr3.wmf
DataDump_Azure-Demo_Inklusjonskjema_2019-10-17_1459.csv
DataDump_Azure-Demo_Inklusjonskjema_2019-10-17_1459.xlsx
Kortikosteroider_gr1.pdf
Kortikosteroider_gr1.wmf
Kortikosteroider_gr2.pdf
Kortikosteroider_gr2.wmf
Kortikosteroider_gr23.pdf
Kortikosteroider_gr3.pdf
Kortikosteroider_gr3.wmf
Kravspesifikasjon Norvas WK-20190502.xls
ResultatTilAarsrappOffentliggjoring20120.Rnw
ResultatTilAarsrappOffentliggjoring2018-concordance.tex
ResultatTilAarsrappOffentliggjoring2018.R
ResultatTilAarsrappOffentliggjoring2018.log
ResultatTilAarsrappOffentliggjoring2018.synctex.gz
ResultatTilAarsrappOffentliggjoring2018.tex
ResultatTilAarsrappOffentliggjoring2019-concordance.tex
ResultatTilAarsrappOffentliggjoring2019.log
ResultatTilAarsrappOffentliggjoring2019.synctex.gz
ResultatTilAarsrappOffentliggjoring2019.tex
Rituximab_gr1.pdf
Rituximab_gr2.pdf
Rituximab_gr2.wmf
Rituximab_gr23.pdf
Rituximab_gr3.pdf
Rituximab_gr3.wmf
alvorlig_infeksjon.pdf
alvorlig_infeksjon.wmf
diagnosealder.pdf
diagnosealder.wmf
diagnosealder_gr1.pdf
diagnosealder_gr1.wmf
diagnosealder_gr2.pdf
diagnosealder_gr2.wmf
diagnosealder_gr3.pdf
diagnosealder_gr3.wmf
diagnoser.pdf
diagnoser.wmf
kjonn.pdf
kjonn.wmf
kontr_naermest3mnd.csv
legemidler_norvas.csv
oppfolginger.pdf
oppfolginger.wmf
pasPaaMedisin.pdf
pasPaaMedisin.wmf
pasPaaMedisinGr.pdf
pasPaaMedisinGr.wmf
pas_paa_med_gr.csv
rapport.xlsx
rapportonsker28062019.docx
registreringer.pdf
registreringer.wmf
sykdomsvurdering.pdf
sykdomsvurdering.wmf
sykdomsvurdering2018.pdf
sykdomsvurdering2018.wmf
sykdomsvurdering2018_gr1.pdf
sykdomsvurdering2018_gr1.wmf
sykdomsvurdering2018_gr2.pdf
sykdomsvurdering2018_gr2.wmf
sykdomsvurdering2018_gr3.pdf
sykdomsvurdering2018_gr3.wmf
sykdomsvurdering2019.pdf
sykdomsvurdering2019_gr1.pdf
sykdomsvurdering2019_gr2.pdf
sykdomsvurdering2019_gr3.pdf
type_infeksjoner.pdf
type_infeksjoner.wmf
~$pportonsker28062019.docx
sykdomsvurdering2019.wmf
sykdomsvurdering2019_gr1.wmf
sykdomsvurdering2019_gr2.wmf
sykdomsvurdering2019_gr3.wmf
database diagram.jpg
Brev til avd.ledere revma ang. novas 2020 (002).docx
Ny versjon mrs for norvas 2021.docx
Ny versjon mrs for norvas 2021_kommentert.docx
Ny versjon mrs for norvas 2021_v2.docx
ResultatTilAarsrappOffentliggjoring2020-concordance.tex
ResultatTilAarsrappOffentliggjoring2020.log
ResultatTilAarsrappOffentliggjoring2020.synctex.gz
ResultatTilAarsrappOffentliggjoring2020.tex
anca_v_debut_ancaass_vas.pdf
anca_v_debut_ancaass_vas.wmf
andel_2_oppf.pdf
andel_2_oppf.wmf
bvas_ved_oppf_anca_og_andre.pdf
bvas_ved_oppf_anca_og_andre.wmf
ct_thorax.pdf
ct_thorax.wmf
ctmr_bihuler.pdf
ctmr_bihuler.wmf
diagnosegrupper_norvas.csv
diagnoser_krysstab.csv
fig_aarsrapport_norvas_2020.zip
globalsykdomsaktivitet.pdf
globalsykdomsaktivitet.wmf
kerr_ved_oppf_gvv.pdf
kerr_ved_oppf_gvv.wmf
lav_prednisolon_anca.pdf
lav_prednisolon_anca.wmf
lav_prednisolon_gvv.pdf
lav_prednisolon_gvv.wmf
lav_prednisolon_gvv_kerr.pdf
lav_prednisolon_gvv_kerr.wmf
medisingrupper_norvas.csv
norvasKodebok.R
reg_pr_diaggr.pdf
reg_pr_diaggr.wmf
remisjon_6mnd_anca.pdf
remisjon_6mnd_anca.wmf
remisjon_6mnd_storkar_v2.pdf
remisjon_6mnd_storkar_v2.wmf
smerter.pdf
smerter.wmf
sykdomsvurdering_rap_aar_gr1.pdf
sykdomsvurdering_rap_aar_gr1.wmf
tretthet.pdf
tretthet.wmf
ulctmr_storkar.pdf
ulctmr_storkar.wmf
utredet_GCA.pdf
utredet_GCA.wmf
