BVAS_pre_post.csv
Diagnoser_hf.csv
Diagnoser_hf_gr.csv
Diagnoser_kjonn.csv
Diagnoser_kjonn_gr.csv
OppfolgingPrEnhet.csv
PasPrEnhet.csv
PatientAge.pdf
aarsrapp2018.lof
aarsrapp2018.lot
aarsrapp2018.tex
aarsrapp2019-concordance.tex
aarsrapp2019.lof
aarsrapp2019.log
aarsrapp2019.lot
aarsrapp2019.synctex.gz
aarsrapp2019.tex
ant_pas_pr_med.csv
ant_pas_pr_med_2017.csv
ant_pas_pr_med_gr.csv
ant_pas_pr_med_gr2017.csv
ant_pas_pr_med_pr_hf2017.csv
bvas_tb.csv
diagnosealder.pdf
diagnosealder_gr1.pdf
diagnosealder_gr2.pdf
diagnosealder_gr3.pdf
forste_oppf_etter_debut_alvRes.csv
gj.sn_ant_med_pr_pas_pr_HF.csv
kontr_naermest3mnd.csv
Biologiske_gr1.pdf
Biologiske_gr2.pdf
Biologiske_gr3.pdf
Cyclofosfamid_gr2.pdf
Cyclofosfamid_gr3.pdf
DMARD_gr1.pdf
DMARD_gr2.pdf
DMARD_gr3.pdf
Kortikosteroider_gr1.pdf
Kortikosteroider_gr2.pdf
Kortikosteroider_gr3.pdf
Rituximab_gr2.pdf
Rituximab_gr3.pdf
diagnoser.pdf
kjonn.pdf
oppfolginger.pdf
pasPaaMedisin.pdf
pasPaaMedisinGr.pdf
registreringer.pdf
sykdomsvurdering.pdf
sykdomsvurdering2019.pdf
sykdomsvurdering2019_gr1.pdf
sykdomsvurdering2019_gr2.pdf
sykdomsvurdering2019_gr3.pdf
Figurer
ResultatTilAarsrappOffentliggjoring2021-concordance.tex
ResultatTilAarsrappOffentliggjoring2021.log
ResultatTilAarsrappOffentliggjoring2021.pdf
ResultatTilAarsrappOffentliggjoring2021.synctex.gz
ResultatTilAarsrappOffentliggjoring2021.tex
ResultatTilAarsrappOffentliggjoring2021_gml.pdf
ResultatTilAarsrappOffentliggjoring2022-concordance.tex
ResultatTilAarsrappOffentliggjoring2022.tex
ResultatTilAarsrappOffentliggjoring2022_v2-concordance.tex
ResultatTilAarsrappOffentliggjoring2022_v2.tex
ResultatTilAarsrappOffentliggjoring2022_v2_old.pdf
ResultatTilAarsrappOffentliggjoring2022_v2_ny.pdf
ResultatTilAarsrappOffentliggjoring2023-concordance.tex
ResultatTilAarsrappOffentliggjoring2023.tex
ResultatTilAarsrappOffentliggjoring2023_gml.pdf
ResultatTilAarsrappOffentliggjoring2023_uten_kladd.pdf
Datakvalitet Norvas.pdf
datakval_hplattform.html
datakval_hplattform.log
datakval_hplattform.tex
datakval_hplattform_files
